* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  .app {
    background-color: purple;
    color: white;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    text-align: center;
  }
  
  .header {
    font-size: calc(20px + 2vmin);
    line-height: 2;
    text-transform: capitalize;
  }
  
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
